<html>

  <head>

    <title>Quora Clone</title>

  </head>

  <body>
    <div class="navigation">
        <li id="header" style="list-style-type: none"><h1><a href="/" style="text-decoration: none">Quora.</a></h1></li>
        <li id="navright" style="list-style-type: none"><a href="/" style="text-decoration: none">home</a></li>
        <li style="list-style-type: none"><a href="/answer" style="text-decoration: none">answer</a></li>
        <li style="list-style-type: none"><a href="/" style="text-decoration: none">search</a></li>
        <li style="list-style-type: none"><a href="/questions/new" style="text-decoration: none">Add Question</a></li>
    </div>

   	<h3>Edit Answer</h3><br>

		<form action="/answers/<%= @question.id %>/<%= @answer.id %>/edit" method="POST">
			User<br>
			<input name="username" value="<%=@answer.username%>"><br>
			Answer<br>
			<textarea name="answer" rows="10"><%=@answer.answer%></textarea><br>
			<input type="submit">
		</form>
		<br/>
		<a href="/questions/<%=@question.id%>">back</a>


    

  </body>

</html>


