<h2>Welcome <%=@user.first_name%> <%=@user.last_name%>!
<br/><hr/>

<div class="card border-secondary mb-3">
  <div class="card-header">
    Top Questions
  </div>

  <% @questions.each do |q| %>
    <div class="card-body">
      <h5 class="card-title"><%=q.title%></h5>
      <p class="card-text"><%=q.question%></p>
      <a href="/questions/<%=q.id%>" class="btn btn-default btn-sm">View</a>
    </div>
    <hr/>
  <% end %>
</div>